<h1 class="text-center">Active</h1>
<div class="list-group w-50 mx-auto">
  <div *ngFor="let item of activeAccount" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="" alt="two" width="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <p class="mb-0 me-3 d-inline">{{item}} is Active</p>
        <button class="btn btn-primary" (click)="setInActive(item)">set to In Active</button>
      </div>
    </div>
  </div>
</div>